/* Your styles goes here. */
main{
    display: flex;
}

.form{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
    button{
        width: 100%;
    }
}